@model ESSPMemberService.V_T_TRAINING_DESCRIPTION

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>TRAINING_DESCRIPTION</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="F_CODE" />
            <div class="form-group">
                <label asp-for="F_TRANING_DES" class="control-label"></label>
                <input asp-for="F_TRANING_DES" class="form-control" />
                <span asp-validation-for="F_TRANING_DES" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="F_TRAINER_NAME" class="control-label"></label>
                <input asp-for="F_TRAINER_NAME" class="form-control" />
                <span asp-validation-for="F_TRAINER_NAME" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="F_TRAINER_PHONE" class="control-label"></label>
                <input asp-for="F_TRAINER_PHONE" class="form-control" />
                <span asp-validation-for="F_TRAINER_PHONE" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="F_ADDRESS" class="control-label"></label>
                <input asp-for="F_ADDRESS" class="form-control" />
                <span asp-validation-for="F_ADDRESS" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="F_DATE" class="control-label"></label>
                <input asp-for="F_DATE" class="form-control" />
                <span asp-validation-for="F_DATE" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="F_VALUE" class="control-label"></label>
                <input asp-for="F_VALUE" class="form-control" />
                <span asp-validation-for="F_VALUE" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="F_DISCOUNT" class="control-label"></label>
                <input asp-for="F_DISCOUNT" class="form-control" />
                <span asp-validation-for="F_DISCOUNT" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="F_URL_PIC" class="control-label"></label>
                <input asp-for="F_URL_PIC" class="form-control" />
                <span asp-validation-for="F_URL_PIC" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
