@{
    ViewBag.Title = "الأوراق المطلوبة للاشتراك الجديد فى النقابة";
}
<div class="container">

<section>
    <div class="container">
        <div class="row align-items-center">
            <h2 class="text-center">الأوراق المطلوبة للاشتراك الجديد فى النقابة</h2>

<div class="jumbotron">
    <p class="lead">الأوراق المطلوبة للاشتراك الجديد فى النقابة</p>
</div>

<div class="row">

    <p>  1-	استمارة الالتحاق بالقيد ( تسحب من النقابة مجاناً )
    <p> 2-	أصل المؤهل بكالوريوس ( علوم – حاسبات ومعلومات – الكليات والمعاهد الخاصة المعادلة من المجلس الاعلى للجامعات ببكالوريوس العلوم والحاسبات والمعلومات )
    <p> 3-	عدد  ( 3 )  صور شمسية حديثة
    <p> 4-	صورة بطاقة الرقم القومى ساريه
    <p> 5-	صحيفة الحالة الجنائية باسم نقابة المهن العلمية
    <p> 6-	شهادة الخدمة العسكرية ( للذكور)
    <p> 7-	اصل شهادات الدراسات العليا
    <p> 8-	 خطاب من جهة العمل ( قطاع حكومى – قطاع اعمال عام – قطاع خاص ) ( إن وجد )
    <p> 9-	الاشتراك السنوية المقرر حسب الجدول المرفق
    <p> *ملاحظات :-
    <p> •	خريجين الكليات والمعاهد الخاصة يضاف 1000جنيه رسم اشتراك لمرة واحدة فقط عند القيد
    <p> •	اجراءات استخراج بطاقة العضوية ( الكارنية ) تستغرق 7 ايام لحين العرض على لجنة القيد بالنقابة لإعتماد الأوراق المقدمة .

</div>
</div>
</div>
</section>
</div>