@{
    ViewBag.Title = "المستندات المطلوبة لاستخراج شهادة الاستشارى ";
}
<div class="container">

<section>
    <div class="container">
        <div class="row align-items-center">
            <h2 class="text-center">المستندات المطلوبة لاستخراج شهادة الاستشارى</h2>

<div class="jumbotron">
    <p class="lead">المستندات المطلوبة لاستخراج شهادة الاستشارى </p>
</div>

<div class="row">

    <p>  •  استيفاء طلب استخراج شهادة الاستشارى او خبير الاستشارى .
  <p>   •	صورة كارنيه العضوية + صوره من الرقم القومى .  <p>   
•	سداد الاشتراكات المستحقة على العضو .  <p>   
•	فى حالة العمل فى قطاع خاص يتم احضار طابعة من التأمينات التابع له العضو بمدة الخبرة، والقطاع العام يكتفى بشهادة خبرة مختومة بخاتم شعار الجمهورية .  <p>   
•	عمل سيره ذاتيه باللغه العربيه والانجليزيه   <p>   
•	فى حاله الحصول على دكتوراه يتم الاكتفاء 10سنوات خبره فى الاستشارى و15 سنه فى الخبير   <p>   
•	مرور أكثر من 15 سنة  خبرة فى مجال الاستشارى او مرور 20 سنه خبره فى حاله الخبير الاستشارى .  <p>   
•	 إرفاق صور كافة المستندات من الدراسات عليا -الخبرات -الدورات التدريبية بعد الاطلاع على الاصول .  <p>   
•	يتم سداد الرسوم المقررة بعد الموافقه على الطلب.  <p>   
•	يتم تسليم العضو شهادة استشاري او خبير استشارى باللغة العربية + باللغة الإنجليزية + كارنيه الاستشارى   <p>   
•	ويمكن الحصول على نسخة أخرى بعد سداد رسوم النسخة المطلوبة.  <p>   

</div>
</div>
</div>
</section>
</div>