@{
    ViewBag.Title = "الاوراق المطلوبة لتقديم مصاريف الجنازة";
}
<div class="container">

<section>
    <div class="container">
        <div class="row align-items-center">
            <h2 class="text-center">الاوراق المطلوبة لتقديم مصاريف الجنازة</h2>

<div class="jumbotron">
    <p class="lead">الاوراق المطلوبة لتقديم مصاريف الجنازة</p>
</div>

<div class="row">

    <p>
        1-	صورة بطاقة الرقم القومى للعضو
    <p>
        2-	صورة بطاقة الرقم القومى للمستفيد
    <p>
        3-	صورة شهادة الوفاة
    <p>
        4-	صورة اعلام الوراثة
    <p> 5-	رقم حساب على البنك الاهلى المصرى أو استخراج بطاقة ميزة الأهلى مربوطة على كود 7110 من خلال خطاب من النقابة للبنك الاهلى

</div>
</div>
</div>
</section>
</div>