@{
    ViewBag.Title = " الاوراق المطلوبة لتقديم معاش الورثة";
}
<div class="container">

<section>
    <div class="container">
        <div class="row align-items-center">
            <h2 class="text-center">الاوراق المطلوبة لتقديم معاش الورثة</h2>

<div class="jumbotron">
    <p class="lead"> الاوراق المطلوبة لتقديم معاش الورثة</p>
</div>

<div class="row">

    <p>
        1-	اصل شهادة الوفاة.
    <p>
        2-	صورة بطاقة الرقم القومى للعضو.
    <p>
        3-	صورة بطاقة الرقم القومى للزوجة.
    <p>
        4-	بيان حالة اجتماعية (زواج او طلاق) من مصلحه الاحوال المدنيه للزوجة أقل من 60 سنة أو البنات من سن 18 سنة فأكثر.
    <p>
        5-	برنت تأمينات بمدد تأمينات يفيد عدم عمل للزوجه.
    <p>
        6-	صورة اعلام الوراثة.
    <p>
        7-	صورة قرار وصايا (فى حاله وجود ابناء قصر).
    <p>
        8-	صور شهادات ميلاد الابناء القصر (فى حاله وجود ابناء قصر).
    <p>
        9-	صور لشهادات قيد فى حالة وجود (ابناء بتدرس فى التعليم).
    <p> 10-	رقم حساب على البنك الاهلى المصرى أو استخراج بطاقة ميزة الأهلى مربوطة على كود 7110 من خلال خطاب من النقابة للبنك الاهلى.


</div>
</div>
</div>
</section>
</div>